@use 'abstracts/mixins';
@use 'abstracts/tokens';

:host {
  position: absolute;
  top: 47%;
  left: 12%;
  width: max-content;
  z-index: 1;
  opacity: 0.64;
  pointer-events: auto;

  .tech-stage {
    &__learning-icon {
      animation: learning-float 6s ease-in-out infinite;
      transform: scale(1.1) rotate(-2.8deg) translateY(0);
      transform-origin: center;
    }

    &__label {
      top: calc(100% + 0.8rem);
      font-size: 1rem;

      &-letter {
      }
    }
  }

  img {
    display: block;
    width: clamp(2.45rem, 3.8vw, 3.4rem);
    height: clamp(2.45rem, 3.8vw, 3.4rem);
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(88%) sepia(22%) saturate(600%)
      hue-rotate(160deg) brightness(95%) contrast(95%);
    transition:
      transform 180ms ease;
  }

  &:hover {
    cursor: pointer;

    img {
      filter: brightness(0) saturate(100%) invert(77%) sepia(59%) saturate(2402%)
        hue-rotate(160deg) brightness(101%) contrast(102%);
      transform: translateY(-0.2rem) scale(1.15);
    }
  }
}

.tech-stage__learning-label {
  &.tech-stage__label--is-visible {
    opacity: 0.85;
  }

  &.tech-stage__label--is-visible .tech-stage__label-letter {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes learning-float {
  0% {
    transform: scale(1.1) rotate(-2.8deg) translateY(0);
  }

  50% {
    transform: scale(1.1) rotate(5.6deg) translateY(-0.45rem);
  }

  100% {
    transform: scale(1.1) rotate(-2.8deg) translateY(0);
  }
}
