@use 'abstracts/mixins';
@use 'abstracts/tokens';

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)),
    tokens.$color-background;
}

app-root,
app-landing,
app-hero,
app-hero-description,
app-hero-identity,
app-hero-portrait,
app-about,
app-about-text-block,
app-tech-stack,
app-projects,
app-references,
app-contact,
app-desktop-footer {
  display: block;
  width: 100%;
}

app-root {
  min-height: 100%;
}

.section {
  display: flex;
  width: 100%;

  &:not(.section--projects):not(.section--about) > * {
    width: 100%;
    max-width: tokens.$site-max-width;
    margin-inline: auto;
    overflow-x: clip;
  }

  &__inner {
    display: flex;
    @include mixins.page-width;
  }
}
