@use 'abstracts/tokens';

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: tokens.$color-accent-soft tokens.$color-surface;
}

body,
h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: tokens.$color-surface;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 50%;
  background:
    linear-gradient(tokens.$color-accent-soft, tokens.$color-accent)
    padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background:
    linear-gradient(tokens.$color-accent, tokens.$color-accent-soft)
    padding-box;
}
