@use '../abstracts/functions';
@use '../abstracts/tokens';

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: functions.rem(16);
}

body {
  font-family: tokens.$font-primary;
  line-height: 1.5;
  color: tokens.$color-text;
}

h1,
h2 {
  color: tokens.$color-heading;
  font-weight: 600;
}

p {
  color: tokens.$color-muted;
}
