@use 'abstracts/mixins';
@use 'abstracts/tokens';

.references-stage {
  min-height: 86svh;
  gap: tokens.$section-gap;

  &__body {
    @include mixins.stack(tokens.$zone-gap);
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    @include mixins.stack(0.9rem);
    max-width: 24rem;
  }
}
