@use 'abstracts/tokens';

@mixin stack($gap: null) {
  display: flex;
  flex-direction: column;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin page-width {
  width: 100%;
  max-width: tokens.$site-max-width;
  margin-inline: auto;
  padding-inline: tokens.$section-inline-padding;
}

@mixin desktop {
  @media (min-width: tokens.$breakpoint-desktop) {
    @content;
  }
}
