@use 'abstracts/mixins';
@use 'abstracts/tokens';

:host {
  @include mixins.stack(clamp(1rem, 2.4vh, 1.75rem));

  &.tech-stage__intro {
    width: min(42rem, 100%);
    margin-left: 5rem;

    .tech-stage__headline {
      gap: clamp(2.7rem, 6vh, 4.2rem);
    }
  }

  &.tech-stage__focus {
    width: min(28rem, 100%);
    margin-left: auto;
    margin-right: clamp(4rem, 10vw, 7rem);
  }

  .tech-stage {
    &__eyebrow,
    &__headline,
    &__subheadline,
    &__copy {
      margin: 0;
    }

    &__eyebrow {
      color: tokens.$color-muted;
      font-family: 'Space Grotesk', sans-serif;
      font-size: 1.2rem;
      line-height: 1;
    }

    &__headline,
    &__subheadline {
      color: tokens.$color-heading;
      font-family: 'Sora', sans-serif;
      font-weight: 600;
      line-height: 0.98;
    }

    &__headline {
      @include mixins.stack(0.4rem);
      font-size: clamp(2.8rem, 4.7vw, 5.4rem);
    }

    &__accent-word {
      color: tokens.$color-accent-soft;
    }

    &__subheadline {
      font-size: clamp(2rem, 3vw, 3rem);
      max-width: 10ch;
    }

    &__copy {
      max-width: 27rem;
      color: tokens.$color-muted;
      font-size: 1rem;
      line-height: 1.75;

      &--compact {
        max-width: 23rem;
      }
    }
  }
}
