@use 'abstracts/mixins';
@use 'abstracts/tokens';

.legal-stage {
  min-height: auto;
  gap: tokens.$section-gap;

  &__body {
    @include mixins.stack(tokens.$zone-gap);
  }

  &__item {
    @include mixins.stack(0.9rem);
  }

  @include mixins.desktop {
    &__body {
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      max-width: 24rem;
    }
  }
}
