<div #stage class="section__inner tech-stage">
  <app-tech-stack-text-block
    [block]="introBlock"
  ></app-tech-stack-text-block>

  <app-tech-stack-stack-group
    [group]="coreGroup"
  ></app-tech-stack-stack-group>

  <app-tech-stack-learning-item
    [item]="learningItem"
  ></app-tech-stack-learning-item>

  <app-tech-stack-text-block
    [block]="focusBlock"
  ></app-tech-stack-text-block>

  <app-tech-stack-stack-group
    [group]="mainGroup"
  ></app-tech-stack-stack-group>

  <app-tech-stack-stack-group
    [group]="extendedGroup"
  ></app-tech-stack-stack-group>
</div>
