@use 'abstracts/mixins';

:host {
  display: block;
}

.tech-stage {
  @include mixins.stack();
  position: relative;
  min-height: 112svh;
  padding-block: clamp(9rem, 14vh, 15rem);
  will-change: transform, opacity;
}

@media (max-width: 1368px) and (orientation: landscape) {
  .tech-stage {
    gap: 4rem;
    min-height: 100svh;
    padding-block: clamp(6.5rem, 12vh, 9rem);
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .tech-stage {
    gap: 2rem !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(5rem, 9svh, 7rem) clamp(2.5rem, 6vw, 4rem);
    padding-block: 0;
    align-items: center;
    justify-content: space-around;
  }

  app-tech-stack-text-block.tech-stage__intro,
  app-tech-stack-stack-group {
    flex: 0 0 100%;
  }

  app-tech-stack-learning-item {
    flex: 0 0 calc((100% - clamp(2.5rem, 6vw, 4rem)) / 2);
    display: flex;
    justify-content: center;
  }

  app-tech-stack-text-block.tech-stage__focus {
    flex: 0 0 calc((100% - clamp(2.5rem, 6vw, 4rem)) / 2);
    display: flex;
    justify-content: center;
  }
}
